* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #18042b;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.1rem solid #18042b;
    background-color: #f3e9fc;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.logo img {
    width: 3rem;
    height: 3rem;
}

.text-field__aicon img {
    width: 1.1rem;
    height: 1.1rem;
}

.text-field {
    margin-bottom: 1rem;
  }

  .text-field__label {
    display: block;
    margin-bottom: 0.25rem;
  }

  .text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
  }

  .text-field__input[type="search"]::-webkit-search-decoration,
  .text-field__input[type="search"]::-webkit-search-cancel-button,
  .text-field__input[type="search"]::-webkit-search-results-button,
  .text-field__input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  .text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
  }

  .text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
  }

  .text-field__input:disabled,
  .text-field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
  }

   .text-field__icon {
    position: relative;
  }

  .text-field__icon .text-field__input {
    padding-right: 2.5rem;
  }

  .text-field__aicon {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0.875rem;
    width: 1rem;
    cursor: pointer;
    color: #bdbdbd;
    transition: color 0.15s ease-in-out;
  }

  .text-field__aicon:hover {
    color: #212529;
  }

.container__img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 32rem;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: stretch;
}  

.container__photo {
 width: 23.8%;   
 height: auto;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 cursor: pointer;
 position: relative;
}

.container__photo span {
    font-size: 0.8rem;
    color: rgb(61, 58, 61);
}

.container__photo::before {
    content: "";
    display: block;
    position: absolute;
}

.img__text {
    position: absolute;
    left: 1rem;
    bottom: 0.5rem;
}

.footer {
   background-color: #eaf3f8;
   border-top: 0.1rem solid #18042b;
  }

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo-rss {
    width: 10rem;
    height: auto;
  }

  .container a {
    text-decoration: none;
  }