html {
    box-sizing: border-box;
    scroll-behavior: smooth; 
    overflow-x: hidden;
    }

*, *::before, *::after{
        box-sizing: inherit;
    }

body {
   max-width: 1440px;
    margin: 0 auto;
    padding: 0; 
}
.body-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0; 
}
  
.header {
    margin: 0;
    padding: 0;
    /*max-width:  1440px;*/
    width: 100%;
    height: 90px;
    background: #0C0C0E;
    transition: .2s linear;
}
.container {
    padding: 20px;
    margin: 0;
    display: flex; 
    justify-content: space-between;    
}

h1.titul {
    display: flex; 
    flex-wrap: nowrap;
    flex-shrink: 0;
    width: 294px;
    height: 50px;
    padding: 0;
    margin: 20px auto 20px 0;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}
.header__burger-btn {
    display: none;
    position: relative;
    width: 45px;
    height: 20px;
    background-color: transparent;
    border: 2px;
    outline: none;
    z-index: 2;
    cursor: pointer;
}

.header__burger-btn span {
    display: block;
    position: absolute;
    width: 45px;
    height: 3px;
    left: 0;
    background-color: #0C0C0E;
    transition: background-color .3s, opacity .3s, transform .5s;
    will-change: transform;
}

.header__burger-btn:hover span {
    background-color: rgb(103, 103, 103);
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}


/* Крестик */

.header.open .header__burger-btn span {
    background-color: white;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}
.nav-list {
    display: inline-flex;
    align-items: flex-start;
    margin: 0;
    padding-inline-start: 0;
    list-style: none;
    gap: 30px;
    height: 50px;
}
/*.nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}*/

.nav-item:not(:last-child) {
    margin-right: 20px;
}

li.nav-item {
    display: flex;
    align-items: flex-start;
    height: 50px;
    padding-bottom: 20px;
}

a.nav-link {
    display: flex;
    align-items: flex-start;
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    text-decoration: none;
    letter-spacing: normal;
    text-transform: none;
}

a {
    transition: color 0.5s;
  }
  
  a:hover {
    color: #fab176;
    text-decoration: underline;
    cursor: pointer;
  }

.icon-profile {
    display: flex;
    align-items: flex-start;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    margin: 10px 0 0 40px;
    padding: 0;
    
}
.welcome {
    position: relative;
    max-width: 1440px;
    height: 600px;
    margin: 0;
    padding: 0;
    background: url(./assets/img/back.jpg) lightgray 50% / cover no-repeat;
}

.welcome-container.welcome-container {
    position: absolute;
    top: 220px;
    left: 0;
    width: 600px;
height: 220px; 
    padding: 35px 40px;
    background: #0C0C0E;
}

.welcome-container h3 {
margin: 0;    
color: #FFF;
text-align: center;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 125% */
letter-spacing: 3px;
text-transform: uppercase;
}

.section-title {
margin: 0;
padding-top: 20px;
padding-top: 20px;    
text-align: center;
color: #0C0C0E;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 2px;
text-transform: capitalize;
}

hr {
    width: 50px;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 0;
    border: none;
    background-color: #0C0C0E;
}

.section-about {
    margin-top: 40px;
color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
}

.about {   
max-width: 1440px;
height: 837px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 20px 20px 0 20px;
    padding-bottom: 40px;
    overflow: hidden;
    gap: 25px;
}

.carousel-wrapper {
    position: relative;
    max-width: 1440px;
    overflow: hidden;
    margin: 20px 20px 0 0;
}

.images-items {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin: 0;
    width: 100%;
}

.inside {
max-width: 450px;
height: 560px;
flex-shrink: 0;
}

.carousel {
    position: relative;
    left: -475px;
    width: 2390px;
  }

  #item-left {
    max-width: 1420px;
    position: relative;
    right: 0px;
   }

  #item-active {
    max-width: 1420px;
    position: relative;
    left: -950px;
    z-index: 3;
  }

  #item-right {
    max-width: 1420px;
    position: relative;
    left: -1900px;
  }

  @keyframes move-right {
    from {left: -475px;}
    to {left: -950px;}
  }
  
  .transition-right {
    animation-name: move-right;
    animation-duration: 5s;
  }
  
  @keyframes move-left {
    from {left: -475x;}
    to {left: 0px;}
  }
  
  .transition-left {
    animation-name: move-left;
    animation-duration: 5s;
  }
  .carousel-adaptive-wrapper {
    display: none;
  }
  
 .paginations {
display: flex;
justify-content: center;
margin-bottom: 55px;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font-weight: normal;
vertical-align: baseline;
background: transparent;
}

.pagination.pagination {
width: 26px;
height: 26px;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.buttonPagination {
    width: 16px;
    height: 16px;
    margin: 0;
    background-color: #0C0C0E;
    border-radius: 50%;
    transition: none;
    cursor: pointer;
}

.tag_bordered {
    background-color: #0C0C0E; 
}

.tag_selected {
    background-color: #BB945F;
    color: #BB945F;
    border: none;
}

.pagination-adaptive {
    display: none;
}

.buttonPagination:hover {
    border-radius: 50%;
    transition: none;
}

/*.buttonPaginationOne {
    width: 16px;
    height: 16px;
    margin: 0;
    background-color: #BB945F;
    border-radius: 50%;
    border: 0;
    transition: none;
    cursor: pointer;
}*/

/*.buttonPaginationOne:hover {
    background-color: #BB945F;
    border-radius: 50%;
    border: 0;
    transition: none; 
}*/

.section-favorites {
color: #000;
text-align: left;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

p.section-favorites {
    padding-left: 20px;
    margin-top: 40px;
}

.radio-wrapper {
    display: flex;
    max-width: 754px;
    justify-content: space-between;

}

.favorites-label {
    margin: 0 0 0 90px;
    cursor: pointer;
}

.favorites-label:nth-child(1) {
    margin: 0;
}

.favorites-label span {
    margin-left: 20px;
}

.seasons {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 12px;
}

.radio-text {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input:checked ~ .radio-text {
    font-weight: 700;
}

.seasons input {
    accent-color: #0C0C0E;
}

.favorites-labelinput:first-child {
    margin: 0;
}

.favorites-items {
display: flex;
flex-wrap: wrap;
justify-content: space-between;  
margin: 20px;
padding-right: 40px;
padding-bottom: -20px;
max-width: 1440px;
height: 1150px;
flex-shrink: 0;
}

.bg-description.hidden {
    display: none;
}


.bg-description {
    position: relative;
    margin: 0 0 40px 0;   
    width: 550px;
    height: 555px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;
}

#card5, #card6, #card7, #card8 {
    top: -1190px;
}

#card9, #card10, #card11, #card12 {
    top: -2380px;
}

#card13, #card14, #card15, #card16 {
    top: -3570px;
}

h3.upper-title {
padding-top: 15px;
padding-left: 20px;
margin: 0;    
color: #000;
font-family: Forum;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
}

hr.upper-title1 {
width: 60px;
height: 1px;
margin-top: 0;
margin-left: 20px;
margin-bottom: 20px;
background: #BB945F;
}

p.title {
margin: 0 0 0 20px;    
padding: 0;   
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 266.667% */
letter-spacing: 2px;
text-transform: uppercase;
}

p.subtitle {
margin: 0 0 0 20px;   
padding: 0;    
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}

p.content {
margin: 20px 0 0 20px;   
padding: 0;
width: 355px;
height: 320px;    
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 266.667% */
letter-spacing: 2px;
text-transform: capitalize;    
}

button {
margin-left: 20px;  
margin-top: 15px;
width: 75px;
height: 30px;
flex-shrink: 0;   
border-radius: 2px;
border: 1px solid #0C0C0E; 
color: #0C0C0E;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
transition: 1s linear;
}

button:hover {
border-radius: 2px;
border: 1px solid #BB945F;
background: #BB945F;
}

[disabled=disabled] {
    border-radius: 2px;
    border: 1px solid #BB945F;
    color: #BB945F;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
pointer-events: none;
}

.books {
position: absolute;   
left: 390px;
top: 255px; 
width: 200px;
height: 300px;
flex-shrink: 0;
}

.coffee {
padding: 20px 20px 40px 20px;
max-width: 1440px;
}

.menu {
max-width: 1400px;
height: 520px;
display: flex;
justify-content: space-between;
}

p.section-content {
padding: 0;
margin: 40px 0;
color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
}

span.lowercase {
    color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: lowercase;
}

span.uppercase {
    color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px;
letter-spacing: 2px;
text-transform: uppercase;
}

.card {
display: flex;
flex-direction: column;
/*justify-content: space-between;
align-items: stretch;*/
gap: 40px; 
margin: 0;
padding: 0; 
}

.line1 {
    display: flex;
    /*justify-content: space-between;
    text-align: center;
    align-items: center;*/
    gap: 60px;
    vertical-align: baseline;
   }

p.section-menu {
width: 200px;    
margin: 0;
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
}

.liner-beige {
    width: 100px;
    border-bottom: 1px solid #BB945F;
    margin-bottom: 20px;
    }

.line2 {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    gap: 60px;
}

h3.section-subtitle {
margin: 0;
padding: 0;    
text-align: left;    
color: #BB945F;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 2px;
text-transform: capitalize;  
}



hr.beige {
width: 100px;
height: 1px;
padding: 0;
margin: 0;
background: #BB945F;
text-align: center ;
}

.card-second {
    width: 482px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-end;
margin: 0;
padding: 0;
gap: 40px;
}

.section-menu-dess {
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;  
}
.line2 .liner-beige {
    margin: 0;
}

.contacts {
max-width: 1440px;
padding: 0 20px 40px 20px;
flex-direction: column;
align-items: flex-start;
gap: 40px;
}

.contacts-info {
display: flex;
flex-direction: row;
justify-content: space-between;  
margin-top: 40px;  
}

.text-info {
display: flex;
flex-direction: column;   
justify-content: left; 
/*width: 503px;
height: 380px;*/
margin: 0;
padding: 0;
}

.text-info h3 {
color: #000;
text-align: left;
margin: 0;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;  
margin-bottom: 20px;
}

.text-info p, a {
display: inline-block;    
color: #000;
text-align: left;
margin: 20px 0 0 0;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
text-decoration: none;
}

a.titul-info {
    margin: 0;
}

.bold {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;    
}

.map {
width: 696px;
height: 414px;
background: url(./assets/img/map.png), lightgray 50% / cover no-repeat;
}

.library-card {    
max-width: 1440px;
height: 614px;
}

.cards {
display: flex;
justify-content: space-between;
margin: 10px 20px 40px 20px;
}

.find-card {
display: flex; 
flex-direction: column;
justify-content: space-between;   
width: 600px;
height: 453px;
margin: 0;
padding: 0;
flex-shrink: 0;
}

.find-card h3 {
display: flex; 
justify-content: center;   
margin-left: auto;
margin-right: auto;
text-align: center;
color: #000;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
}

.white-bg {
    position: relative;
    width: 600px;
    height: 386px;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    border: 3px solid #BB945F;
    background: #FFF;  
}

.gold-bg {
width: 560px;
height: 272px;
flex-shrink: 0;
margin: 20px 20px 94px 20px;
background: #BB945F;
}

p.gold-inside {
height: 50px; 
margin: 20px;  
padding-top: 20px; 
color: #000;
font-family: Forum;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 166.667% */
letter-spacing: 0.6px;
}

input#name, input#number {
width: 520px;
height: 66px;
flex-shrink: 0;
margin: 20px 20px 5px 20px;
border-radius: 10px;
background: #FFF;
}

[placeholder] {
height: 50px;
margin: 8px auto 8px 20px;
color: #8E8E8E;
font-family: Forum;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 166.667% */
letter-spacing: 0.6px;
}

button.check {
position: absolute;  
left: 179px;
bottom: 30px;  
width: 242px;
height: 44px;  
margin-left: auto; 
margin-right: auto; 
border-radius: 2px;
border: 1px solid #0C0C0E;
color: #0C0C0E;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
}

.get-card {
position: relative;
width: 456px;
height: 253px;
margin-top: 30px;
flex-shrink: 0;
}

.get-card h4 {
position: absolute;
top: 0;
right: 0;
margin: 0;
/*width: 220px;*/
height: 33px;
margin-right: 0;
color: #000;
text-align: end;
font-family: Forum;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
}

.get-card p {
position: absolute;
top: 48px;
bottom: 85px;
right: 0;
left: 0;
 width: 456px;
 height: 120px;   
 color: #000;
text-align: right;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 0.4px;
}

p.tablet-size {
    display: none;
}

.buttons {
 display: flex; 
 justify-content: right; 
 position: absolute; 
 bottom: 0;
 right: 0;
}

.buttons button {
color: #0C0C0E;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
}

.footer {
max-width: 1440px;
height: 250px;  
padding: 20px; 
background: #0C0C0E; 
}

.frame-5 {
display: flex;
max-width: 1400px;
height: 40px;
margin: 0;
justify-content: space-between;
align-items: flex-start;
flex-shrink: 0;
}

.frame-5 p {
 color: #FFF;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 133.333% */
}

a.place {
width: 229px;
height: 40px;
margin: 0;
flex-shrink: 0;
text-align: left;
color: #FFF;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 133.333% */
text-decoration: none;
letter-spacing: normal;
}

p.time {
       margin: 0;
    text-align: right;
    color: #FFF;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 133.333% */
}

.frame-4 {
    display: flex;
justify-content: space-between;
align-items: center;
}

.social-media {
    display: flex;
   /* width: 102px;
    height: 24px;*/
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
   
}

.smm {
    width: 24px;
height: 24px;
flex-shrink: 0;
color: #F5EFDB;
}

.social-media p {
    color: #FFF;
text-align: right;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 133.333% */
}

.footer hr {
    width: 1440px;
height: 1px;
margin-top: 20px;
background: #FFF;
}

.rss {
display: flex;
justify-content: space-between;
align-items: flex-end;
max-width: 1440px;
height: 66px;
/*margin: 35px 0 0 0;*/
flex-shrink: 0;
}

.rss a, .rss p {
display: flex;    
height: 22px;
margin: 0;
padding: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 100% */
letter-spacing: 2px;
text-transform: none;
}

rss.a {
  
/*width: 113px;
height: 22px;*/
color: #FFF;
text-align: center;
text-decoration: none;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
}

@media screen and (max-width: 1430px)  {
    .about {
        height: auto;
    }
     img.inside, .images-items {
        width: 95%;
     }

@media screen and (max-width: 1240px)  {
    
    .bg-description {
        width: 45%;
       }
        img.books {
        width: 25%;
        height: auto;
        left: 80%; 
        top: 66%;
       }
      .menu {
        width: 100%;
        height: auto;
      }
      .card {
        width: 50%;
      }
     .card-second {
        width: 50%;
      }
     }

@media screen and (max-width: 1110px)  {
    img.books {
        width: 25%;
        height: auto;
        left: 85%; 
        top: 70%;
       } 
       .get-card {
        width: 40%;
        }
        .get-card p {
            width: 100%;
        }
}
@media screen and (max-width: 1024px) {
    .header__burger-btn {
        display: block;
        background-color: #0C0C0E;
        z-index: 11;
    }
    .header__burger-btn span{
        background-color: #FFF;
    }
    .header__burger-btn:hover {
        background-color: #0C0C0E;
        border: none;
    }
    
    .nav {
        z-index: 3;
        position: absolute;
        right: -332px;
        top: 0;
        width: 332px;
        height: 570px;
        padding: 100px 107px;
        background-color: #0C0C0E;
        visibility: hidden;
        transition: transform .5s, visibility .5s;
        will-change: transform;
    }
    .nav-list {
        width: 118px;
        height: 270px;
        margin: 0 auto;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        }
    .nav-item:not(:last-child) {
        margin-right: 0;
    }
    .header.open .nav {
        transform: translateX(-100%);
        visibility: visible;
    }
   img.icon-profile {
        position: absolute;
        right: 90px;
        top: 31px;
        margin: 0;
        z-index: 11;
    }
    .favorites {
        height: auto;
    }
    .favorites-items {
        display: block;
        width: 100%;
        height: auto;
    }
    img.books {
        position: absolute;   
        left: 390px;
        top: 255px; 
        width: 200px;
        height: 300px;
    }
    .contacts-info {
        display: block;
    }
    .text-info {
        margin-bottom: 20px;
    }
    img.map {
        display: block;
        margin: 0 auto;
    }
    .find-card {
        width: 40%;
        height: auto;
    }
    p.gold-inside {
        font-size: 20px;;
    }

    .white-bg {
        width: 100%;
        height: auto;
    }
    .gold-bg {
        width: 90%;       
    }
    input#name, input#number, button.check {
        width: 80%;   
    }
    button.check {
    left: 10%;
    }
    .get-card {
        width: 40%;
        }
    .get-card p {
        width: 100%;
    }
    .buttons {
        bottom: -50px;
    }
}

@media screen and (max-width: 768px) {
    html {
       /*overflow-x: hidden;*/
        max-width: 768px;
    }
    body {
        max-width: 768px; 
        /*overflow-x: hidden;*/
        position: relative;
    }

    .body-wrapper {
        position: relative;
    }

    img.icon-profile {
        right: 92px;
    }
    .nav-list {
        margin-top: 49px;
        }
    .about {
        margin: 0 30px;
    }
    p.section-about {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0;
    }
    .carousel-wrapper {
        display: none;
    }
    .carousel-adaptive-wrapper {
        display: block;
        position: relative;
        height: 600px;
    }

    .carousel-adaptive {
       /* display: flex;
        justify-content: space-around;
        padding-bottom: 20px;*/
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translate(-50%, -50%);
      }
      
      .items-container {
        position: relative;
        width: 100%;
        overflow: hidden;
      }
      
      .item {
        display: none;
        position: relative;
        animation: 0.5s ease-in-out;
        margin: 0 auto;
      }
      
      .active,
      .next {
        display: block;
      }
      
      .next {
        position: absolute;
        top: 0;
        width: 100%;
      }
      
      .control {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 15%;
        cursor: pointer;
      }
      
      .control.left {
        left: 0;
        right: auto;
      }
      
      .control.right {
        right: 0;
        left: auto;
      }
      
      .arrow {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        font-weight: bold;
      }
      
      .arrow.right {
        right: 50%;
      }
      
      .to-left {
        animation-name: left;
      }
      
      .from-right {
        animation-name: right;
      }
      
      .to-right {
        animation-name: right;
        animation-direction: reverse;
      }
      
      .from-left {
        animation-name: left;
        animation-direction: reverse;
      }
      
      @keyframes left {
        from {
          left: 0;
        }
        to {
          left: -100%;
        }
      }
      
      @keyframes right {
        from {
          left: 100%;
        }
        to {
          left: 0;
        }
      }
      
   .content {
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
    }
  
    .pagination {
        position: relative;
    }

    .pagination .pagination-adaptive {
        display: block;
    }

    .buttonPaginationOne {
        position: absolute;
    }
   /* .buttonPaginationOne::before {
      content: " ";
       position: absolute;
       left: -25px;
       top: 0;
       width: 16px;
    height: 16px;
    margin: 0;
    background-color: #0C0C0E;
    border-radius: 50%;
    transition: none;
    cursor: pointer;
    } 
    .buttonPaginationOne::after {
        content: " ";
         position: absolute;
        right: -78px;
        top: 0;
         width: 16px;
      height: 16px;
      margin: 0;
      background-color: #0C0C0E;
      border-radius: 50%;
      transition: none;
      cursor: pointer;
      } 
      .favorites {
        margin-top: 35px;
      }
     */
    
    img.inside {
    display: block;
    width: 450px;
    height: 560px;
    background: lightgray 50% / cover no-repeat;
    margin: 0 auto;
}
    /*img.inside:nth-child(2), img.inside:nth-child(3){
    display: none;*/
  }

.favorites {
    height: 2629px;
    overflow: visible;
}

.seasons-container {
position: relative;
}
.seasons {
    position: sticky;
    top: 0;
    z-index: 5;
  } 

  .favorites-items {
    width: auto;
  }
   .bg-description {
    width: 550px;
    height: 555px;
    margin: 0 0 40px 69px;
    padding: 0;
   }
   img.books {
    width: 200px;
    height: 300px;
    left: 390px;
    flex-shrink: 0;
   }

   #card5, #card6, #card7, #card8 {
    top: -2380px;
}

#card9, #card10, #card11, #card12 {
    top: -4760px;
}

#card13, #card14, #card15, #card16 {
    top: -7140px;
}

   .coffee {
    padding-top: 0;
   }
   .menu {
    display: block;
    }
    .card {
        width: 100%;
        margin-bottom: 40px;
    }
    .card-second {
        width: 100%;
    }
    .map {
        width: 100%;
        height: auto;
    }
    .library-card {
     height: auto;
     margin-top: 65px;
     }
     .gold-bg {
        margin: 20px 20px 89px 20px;
        width: 560px;
        height: 272px;
     }
    .cards {
        display: block;
        height: auto;
        }
        .find-card {
            width: 600px;
            height: auto;
            flex-shrink: 0;
            margin: 0 auto 21px;
        }
        p.gold-inside {
            font-size: 30px;
        }
        input#name, input#number {
            width: 520px;
            height: 66px;
        }
        button.check {
           text-align: center;
            width: 40%;
            margin-left: 120px;
        }
        .get-card {
            width: 600px;
            height: 223px;
            flex-shrink: 0;
            margin: 0 auto;
        }
        .get-card h4 { 
            position: static;
            text-align: center;
        }
        .get-card p {
            display: none;
        }
        p.tablet-size {
            display: block;
            text-align: center;
        }
        .buttons {
            margin: 0 auto;
            bottom: 0;
            left: 0;
            justify-content: center;
        }
        .frame-4 hr {
            width: 100%;
        }
        .footer hr {
            width: 100%;
        }
}