* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0; 
}

html {
    scroll-behavior: smooth; 
}
  
.header {
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 90px;
    background: #0C0C0E;
}

.container {
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: space-between;    
}

h1.titul {
    width: 330px;
    height: 50px;
    padding: 0;
    margin: 20px 454px 20px 20px;
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.nav-list {
    display: inline-flex;
    align-items: flex-end;
    list-style: none;
    gap: 30px;
}

.nav-link {
    align-items: flex-end;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    text-decoration: none;
}

a {
    transition: color 0.5s;
  }
  
  a:hover {
    color: #fab176;
    text-decoration: underline;
    cursor: pointer;
  }

.icon-profile {
    display: flex;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    margin: 31px 20px;
}

.welcome {
    position: relative;
    width: 1440px;
    height: 600px;
    margin: -28px 0 0 0;
    padding: 0;
    background: url(./assets/img/back.jpg) lightgray 50% / cover no-repeat;
}

.welcome-container.welcome-container {
    position: absolute;
    top: 255px;
    left: 0;
    width: 520px;
    height: 150px; 
    margin: 35px 40px;
    background: #0C0C0E;
}

#text {
color: #FFF;
text-align: center;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 125% */
letter-spacing: 3px;
text-transform: uppercase;
}

.section-title {
margin: 0;
padding-top: 20px;
padding-top: 20px;    
text-align: center;
color: #0C0C0E;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 2px;
text-transform: capitalize;
}

hr {
    width: 50px;
    height: 1px;
    border: none;
    background-color: #0C0C0E;
}

.section-about {
color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
}

.about {   
width: 1440px;
height: 837px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding-bottom: 40px;
}

.inside {
width: 450px;
height: 560px;
flex-shrink: 0;
gap: 25px;
}

.pagination.pagination {
display: block;
text-align: center;
margin: 0 auto;
width: 68px;
height: 16px;
}

.section-favorites {
color: #000;
text-align: left;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.seasons {
display: flex;
width: 50%;
justify-content: space-between;
margin-left: 20px; 
margin-bottom: 40px;   
width: 700px;
height: 24px;
flex-shrink: 0;
}

.inside-seasons {
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 10px;
}

.favorites-items {
display: flex;
flex-wrap: wrap;
justify-content: space-between;  
width: 1400px;
height: 1150px;
flex-shrink: 0;
}

.bg-description {
    position: relative;
    margin-left: 20px;    
    width: 550px;
    height: 555px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;
}

h3.upper-title {
padding-top: 15px;
padding-left: 20px;
margin: 0;    
color: #000;
font-family: Forum;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
}

hr#upper-title {
width: 60px;
height: 1px;
margin-left: 20px;
margin-bottom: 20px;
background: #BB945F;
}

p.title {
margin: 0 0 0 20px;    
padding: 0;   
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 266.667% */
letter-spacing: 2px;
text-transform: uppercase;
}

p.subtitle {
margin: 0 0 0 20px;   
padding: 0;    
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}

p.content {
margin: 0 0 0 20px;   
padding: 0;
width: 355px;
height: 320px;    
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 266.667% */
letter-spacing: 2px;
text-transform: capitalize;    
}

button {
margin-left: 20px;    
width: 75px;
height: 30px;
flex-shrink: 0;   
border-radius: 2px;
border: 1px solid #0C0C0E; 
color: #0C0C0E;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
}

.books {
position: absolute;   
left: 390px;
top: 255px; 
width: 200px;
height: 300px;
flex-shrink: 0;
}

.coffee {
padding: 20px 20px 40px 20px;
display: flex;
width: 1440px;
padding: 20px 20px 40px 20px;
flex-direction: column;
align-items: center;
gap: 40px;
}

.menu {
width: 1400px;
height: 520px;
display: flex;
justify-content: space-between;
}

p.section-content {
padding: 0;
margin: 0;
color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
}

.card {
display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
width: 45%;
gap: 40px;  
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

h2.section-subtitle {
text-align: center;    
color: #BB945F;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 2px;
text-transform: capitalize;   
}

hr.beige {
width: 100px;
height: 1px;
background: #BB945F;
}

.card.second {
display: flex;
width: 482px;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 40px;
}

.contacts {
width: 1440px;
padding: 20px 20px 40px 20px;
flex-direction: column;
align-items: flex-start;
gap: 40px;
}

.contacts-info {
display: flex;
flex-direction: row;
justify-content: space-between;  
margin-top: 40px;  
}

.text-info {
display: flex;
flex-direction: column;   
justify-content: left; 
width: 503px;
height: 380px;
margin: 0;
padding: 0;
}

.text-info h3 {
width: 282px;
height: 40px; 
color: #000;
text-align: left;
margin: 0;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;  
}

.text-info p {
color: #000;
text-align: left;
margin: 20px 0 0 0;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
text-transform: capitalize;
}

.bold {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;    
}

.map {
width: 696px;
height: 414px;
background: url(./assets/img/map.png), lightgray 50% / cover no-repeat;
}

.library-card {
width: 1440px;
height: 614px;
}

.find-card {
display: flex; 
flex-direction: column;
justify-content: space-between;   
width: 600px;
height: 453px;
flex-shrink: 0;
}

.find-card h3 {
display: flex; 
justify-content: center;   
width: 324px;
height: 36px;
margin-left: auto;
margin-right: auto;
text-align: center;
color: #000;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
}

.white-bg {
    width: 600px;
    height: 386px;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    border: 3px solid #BB945F;
    background: #FFF;  
}

.gold-bg {
width: 560px;
height: 272px;
flex-shrink: 0;
margin: 20px 20px 94px 20px;
background: #BB945F;
}

p.gold-inside {
height: 50px; 
margin: 20px;   
color: #000;
font-family: Forum;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 166.667% */
letter-spacing: 0.6px;
}

input {
width: 520px;
height: 66px;
flex-shrink: 0;
margin: 20px;
border-radius: 10px;
background: #FFF;
}

[placeholder] {
height: 50px;
margin: 8px auto 8px 20px;
color: #8E8E8E;
font-family: Forum;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 166.667% */
letter-spacing: 0.6px;
}

button.check {
width: 242px;
height: 44px;  
margin-left: auto; 
margin-right: auto; 
padding: 10px 40px;
border-radius: 2px;
border: 1px solid #0C0C0E;
color: #0C0C0E;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
}

.get-card {
width: 456px;
height: 253px;
flex-shrink: 0;
background-color: aquamarine;
}

.get-card h4 {
width: 220px;
height: 33px;
color: #000;
text-align: center;
font-family: Forum;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
}

.get-card p {
 width: 456px;
 height: 120px;   
 color: #000;
text-align: right;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 0.4px;
}

.buttons button {
color: #0C0C0E;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
}