* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat center/80% url(assets/img/fon.png);
    background-color: rgba(255,255,255,0.5);
    background-size: cover;
}

.player {
    max-width: 380px;
    width: 100%;
    margin: 25px;
    padding: 25px;
    border-radius: 30px;
    background: rgb(50, 99, 102);
    box-shadow: 0 0 30px rgba(242, 250, 249, 0.8);
}

.title, .song {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFF;
}

.cover {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.cover__img {
    width: 100%;
    border-radius: 50%;
    &.active {
        animation: rotateAnimation 5s linear infinite;
    }
}

.progress__container {
 width: 100%;
 height: 10px;
 margin-top: 40px;
 display: flex;
 align-items: center;
 cursor: pointer;
 border-radius: 5px;
 background: #eaf3f8;
 .progress {
   /* width: 150px;*/
    height: 6px;
    border-radius: 5px;
    background: rgb(19, 61, 54);
 }
}

.time {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 184px;
    width: 100%;
    margin: 15px auto 0 auto;
}

.btn {
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.btn img {
    height: 45px;
    width: 45px;  
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.footer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaf3f8;
  }

  .container a {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }

